body {
    background-color: #001d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links li {
    margin-right: 12px;
    font-size: 18px;
    list-style-type: none;
}

.links li:nth-last-child() {
    margin-right: 0;

}

.link-item {
    text-decoration: none;
    background-color: #001d3d;
    color: #e9ecef;
    border: 2px solid #ffc300;
    border-radius: 8px;
    padding: 4px;
}

.link-item:hover {
    color: #ffc300;
    text-decoration: none;
    box-shadow: -1px 13px 18px -8px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.app-title a {
    color: #ffc300;
    font-size: 64px;
    text-decoration: none;
}

.app-title a:hover {
    color: #fdec6e;
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.footer {
    color: #e9ecef;
}
